<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>












            <div style="background-color: #FF8040; text-align: center">
                 <font size="8"><b>Vip kvota</b></font>
            </div>


            <div style="background-color: #154360; text-align: center; height: 500px;">
                <form action="postavivipkvotu" method="post" style=" position: relative; top:200px">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Potvrdi"> </input>
                </form>

                <form action="prikazisvetikete" method="get">
                {% csrf_token %}
                    <input type="submit" value="Prikaži sve tikete" style=" position: relative; top:100px"> </input>
                </form>
                <div style=" position: relative; top:20px;background-color: #154360; text-align: center; color: white">
                 {{ greska }}
                </div>
            </div>
            <div style="background-color: #FF8040; text-align: center">
                 <font size="8"><i><b>Time to win</b></i></font>
            </div>



</body>
</html>



<style>
    div{
        font-weight: bold;
    }
</style>

